/* raleway-regular - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/raleway/raleway-v26-latin-regular.woff2") format("woff2"), url("../fonts/raleway/raleway-v26-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-500 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/raleway/raleway-v26-latin-500.woff2") format("woff2"), url("../fonts/raleway/raleway-v26-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/roboto/roboto-v29-latin-900.woff2") format("woff2"), url("../fonts/roboto/roboto-v29-latin-900.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/sans/open-sans-v28-latin-700.woff2") format("woff2"), url("../fonts/sans/open-sans-v28-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1920px;
  width: 90%;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.section_head {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 110px;
  /*margin-bottom: 41px;*/
}
.section_head .h4 {
  color: #898F8F;
  line-height: 24px;
  font-weight: 500;
  font-size: 1.125rem;
  font-family: "Raleway";
  margin-bottom: 15px;
}
.section_head .h1 {
  color: #FFCC00;
  line-height: 66px;
  font-weight: 900;
  font-size: 3.75rem;
  font-family: "Roboto";
  margin-bottom: 30px;
}
.section_head .decorate {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}
.section_head .decorate img {
  width: 20px;
  height: 20px;
}
.section_head .decorate .line {
  width: 210px;
  border-bottom: 1px solid #FFCC00;
  margin-bottom: 10px;
}

.social {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.social a {
  margin-left: 5px;
}
.social a:hover {
  transform: scale(1.1);
}

.slider {
  display: flex;
  align-items: center;
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
}
.slider_left {
  margin-left: 60px;
}
.slider_left img {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 15px;
  left: 15px;
}
.slider .divider {
  display: inline;
  height: 560px;
  border-left: 1px solid #FFCC00;
  margin-left: 85px;
  margin-right: 85px;
}
.slider_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 60px;
}
.slider_right_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.slider_right_info .name {
  color: #666666;
  line-height: 42.19px;
  font-weight: 900;
  font-size: 2.25rem;
  font-family: "Roboto";
}
.slider_right_info .info_line {
  width: 100px;
  border-bottom: 1px solid #FFCC00;
  margin-bottom: 30px;
  margin-top: 30px;
}
.slider_right_info .title {
  color: #666666;
  line-height: 36px;
  font-weight: 400;
  font-size: 1.5rem;
  font-family: "Raleway";
}

.border {
  width: 430px;
  height: 430px;
  position: relative;
}
.border .corner_1 {
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #FFCC00;
  border-left: 1px solid #FFCC00;
  width: 100px;
  height: 100px;
}
.border .corner_2 {
  position: absolute;
  top: 0;
  left: 0;
  border-top: 1px solid #FFCC00;
  border-left: 1px solid #FFCC00;
  width: 100px;
  height: 100px;
}
.border .corner_3 {
  position: absolute;
  top: 0;
  right: 0;
  border-top: 1px solid #FFCC00;
  border-right: 1px solid #FFCC00;
  width: 100px;
  height: 100px;
}
.border .corner_4 {
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 1px solid #FFCC00;
  border-right: 1px solid #FFCC00;
  width: 100px;
  height: 100px;
}

p {
  color: #333333;
  line-height: 24px;
  font-weight: 500;
  font-size: 0.875rem;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Raleway";
}

.slider_decore {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}
.slider_decore .line_small {
  width: 10px;
  border-bottom: 1px solid #FFCC00;
  border-bottom: 4px solid #FFCC00;
}
.slider_decore .line_middle {
  width: 20px;
  border-bottom: 1px solid #FFCC00;
  border-bottom: 4px solid #FFCC00;
  margin-right: 5px;
}
.slider_decore .space {
  margin-right: 5px;
}

button {
  padding: 5px 10px;
  border: 1px solid #FFCC00;
  background-color: #FFFFFF;
  color: #666666;
  line-height: 14px;
  font-weight: 700;
  font-size: 0.875rem;
  font-family: "Open Sans";
  cursor: pointer;
}
button:hover {
  transform: scale(1.1);
}