/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

/*
* Spin
*/
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}
.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}
.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/poppins-v19-latin-regular.woff2") format("woff2"), url("../fonts/poppins-v19-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/poppins-v19-latin-500.woff2") format("woff2"), url("../fonts/poppins-v19-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-600 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/poppins-v19-latin-600.woff2") format("woff2"), url("../fonts/poppins-v19-latin-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/poppins-v19-latin-700.woff2") format("woff2"), url("../fonts/poppins-v19-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Poppins";
}

a, button {
  transition: all 0.2s ease;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

h1 {
  color: #2F281E;
  line-height: 54px;
  font-weight: 700;
  font-size: 2.75rem;
  margin-bottom: 30px;
}

h2 {
  color: #2F281E;
  line-height: 54px;
  font-weight: 700;
  font-size: 2.25rem;
  margin-bottom: 22px;
}

h4 {
  color: #2F281E;
  line-height: 33px;
  font-weight: 600;
  font-size: 1.375rem;
  margin-bottom: 13px;
}

h5 {
  color: #2F281E;
  line-height: 26px;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 12px;
}

p {
  color: #544837;
  line-height: 26px;
  font-weight: 500;
  font-size: 1rem;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

header {
  height: 78px;
  position: fixed;
  background-color: #fff;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}
header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-right: 200px;
}
.logo img {
  width: 100%;
}

#main_menu ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#main_menu ul li + li {
  margin-left: 30px;
}
#main_menu ul li a {
  display: inline-block;
  text-decoration: none;
  height: 28px;
  line-height: 28px;
  padding: 0 15px;
  background-color: transparent;
  color: #3f372d;
}
#main_menu ul li a:hover {
  text-decoration: underline;
}

.hamb_menu {
  display: none;
}

#side_block {
  width: 300px;
  position: fixed;
  left: 0px;
  top: 0;
  background-color: lightgrey;
  padding: 20px;
  height: 100vh;
  z-index: 11;
  transform: translateX(-300px);
  transition: all 0.2s ease;
}
#side_block.open {
  transform: translateX(0);
}

#mobile_menu ul {
  list-style: none;
}
#mobile_menu ul a {
  text-decoration: none;
  height: 36px;
  line-height: 36px;
  color: #2F281E;
  text-transform: uppercase;
  padding: 0 15px;
  background-color: transparent;
}
#mobile_menu ul a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header_button {
  margin-left: 30px;
}

.button, .button_btn {
  border-radius: 4px;
  padding: 15px 41px;
  margin-left: 14px;
  font-size: 1rem;
  line-height: 24px;
  font-weight: 600;
  cursor: pointer;
}

.button_btn {
  background-color: #FF9900;
  color: #FFFFFF;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

main {
  margin-top: 100px;
  flex-grow: 1;
}

.text_area {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.action {
  display: flex;
  margin-top: 45px;
  align-items: center;
  gap: 30px;
}

.pic {
  width: 50%;
}
.pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video {
  color: #FF9900;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  text-decoration: underline;
}

.section-1 {
  margin-bottom: 130px;
}

.section-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 60px;
  text-align: center;
  margin-bottom: 200px;
}

.card-2__content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 60px;
}

.content__box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-right: 45px;
}

.box__pikto {
  padding-bottom: 30px;
}
.box__pikto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box__title {
  font-weight: 600;
  font-size: 22px;
  padding-bottom: 13px;
}

.box__text {
  font-weight: 500;
  font-size: 16px;
}

.content__button {
  background-color: #FF9900;
  border-radius: 4px;
  width: 175px;
  height: 53px;
  color: #FFFFFF;
  font-size: 16px;
  align-items: center;
  margin-bottom: 230px;
}

.section-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-3__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}

footer {
  padding: 100px;
  border-top: 1px solid #828282;
}
footer a {
  text-decoration: none;
  height: 35px;
  line-height: 35px;
  color: #544837;
}
footer a:hover {
  text-decoration: underline;
}

.footer_input {
  display: flex;
  flex-direction: column;
}

.footer_button {
  background: #FF9900;
  border-radius: 4px;
  padding: 8px 15px;
  color: #FFFFFF;
  font-size: 16px;
  align-items: center;
  margin-top: 20px;
}