*{
    padding: 0;
    margin: 0;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    background-color: #FFFFFF;
    font-family:'Roboto', 'PT Sans';
    color: #000000;
    background-image: url("../images/Frame.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
  }

ul{
    list-style: none;
}

main{
    padding: 80px 0;
}

a {
    color:#000000;
    font-size: 36px;
    line-height: 42px;
    font-weight: 700;
    text-decoration: none;
}

a:hover{
    color: gray;
}

.page_wrapper{
    display: flex;
    height: 100%;
    flex-direction: column;
}

.header{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    height: 120px;
    width: 100%;
}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 1920px;
    width: 90%;
    margin: 0 auto;
  }

.box__language{
    width: 41px;
    height: 24px;
    padding-right: 42px;
}

.box__text{
    font-family: 'Roboto';
    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
}

.content{
    max-width: 1920px;
    width: 90%;
    margin: 0 auto;
    margin-top: 60px;
}

.block__navigation{
    position: sticky;
    left: 0;
    top: 120px;
    z-index: 1;
}

.underline{
    border-bottom: 1px solid #BFBFBF;
    width: 600px;
    margin-bottom: 90px;
}

.article-wrapper{
    position: relative;
    padding-left: 720px;
    top: -500px;
}

.heading__line{
    width: 80px;
    margin-left: 0;
    border: 10px solid  #000000;
    margin-bottom: 20px;
}

.title, .text{
    font-size: 36px;
    line-height: 48px;
}

.title {
    font-family: 'Roboto';
    font-weight: 900;
    margin-bottom: 40px;
}

.text{
    font-family: 'PT Sans';
    font-weight: 400;
    margin-bottom: 40px;
}

.text-decoration{
    text-decoration: underline;
}

.special-text{
    font-family: 'PT Sans';
    font-weight: 700;
}
