$main_color:#212353;
$text_color:#4B5D68;

@mixin text($color,$lh,$fw){
    color: $color;
    line-height: $lh;
    font-weight: $fw;
}

$base_fz: 16px;
@mixin fz($size_in_px){
  font-size:($size_in_px/$base_fz)+rem;
}

@import 'hamburger';
@import 'font';

*, *::before, *::after {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    background-color: #F6FAFD;
}


main{
    margin-top: 200px;
}

.container{
    width: 70%;
    max-width: 1600px;
    margin: 0 auto;
}

a, button{
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

a {
    text-decoration: none;
}

header{
    height: 70px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #F6FAFD;
    z-index: 10;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    .container{
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .logo{
        margin-right: 121px;
    }
}

.nav_container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.hamb_menu{
    display: none;
}

#side_block{
    width: 500px;
    position: fixed;
    left: 0;
    top: 0;
    background-color:#F6FAFD;
    padding: 20px;
    height: 100vh;
    z-index: 13;
    -webkit-transform: translateX(-500px);
        -ms-transform: translateX(-500px);
            transform: translateX(-500px);
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    &.open{
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
    }
}

#page_overlay{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(195, 225, 233, 0.7);
    display: none;
    z-index: 12;
    &.open{
        display: block;
    }
}

#mobile_menu{
    ul{
        list-style: none;
            a{
                text-decoration: none;
                height: 36px;
                line-height: 36px;
                color: #2F281E;
                text-transform: uppercase;
                padding: 0 15px;
                background-color: transparent;
                &:hover{
                    background-color: rgba(255,255,255,.5);
                    text-decoration: underline;
                }
            }
        }
}

#main_menu{
    ul{
        list-style: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        li{
            &:last-child{
                margin-right: 0;
            }
            a{
                display: inline-block;
                padding: 0 15px;
                @include text($text_color,25.6px,500);
                @include fz(16px);
                font-family: 'Montserrat';
                &:hover{
                    color: $main_color;
                    -webkit-transform: scale(1.2);
                        -ms-transform: scale(1.2);
                            transform: scale(1.2);
                }
            }
        }
    }
}

.btn{
    position: relative;
    width: 210px;
    height: 60px;
    background-color: #FFFFFF;
    border-radius: 50px;
    font-family: 'Montserrat';
    @include text($main_color,25.6px,800);
    @include fz(16px);
    letter-spacing: 0.5px;
    text-align: start;
    padding-left: 29px;
    border: none;
    -webkit-box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
            box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    cursor: pointer;
    outline: none;
    &:after{
        content: url(../images/arrow.svg);
        position: absolute;
        -webkit-transform: translate(25%, 15%);
            -ms-transform: translate(25%, 15%);
                transform: translate(25%, 15%);
    }
    &:hover{
        -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
                transform: scale(1.1);
    }
}

.h1{
    @include text($main_color,88px,700);
    @include fz(80px);
    font-family: 'Helvetica';
    margin-bottom: 53px;
}

.text{
    font-family: 'Montserrat';
    @include text($text_color,28.8px,500);
    @include fz(18px);
    font-weight: 500;
}

.parag{
    margin-bottom: 55px;
    max-width: 380px;
}

.headline{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin-bottom: 195px;
    .headline_text{
        max-width: 55%;
    }
}
.headline_btn{
    background-color: #9C69E2;
    border-radius: 50px;
    @include text(#FFFFFF,28px,800);
    @include fz(18px);
    font-family:'Montserrant';
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    height: 60px;
    border: none;
    cursor: pointer;
    outline: none;
    &:hover{
        -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
                transform: scale(1.1);
    }
}

.pic{
  position: absolute;
    top: 20%;
    right: 7%;
    max-width: 885px;
    width: 60%;
    img{
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
    }
}

.section_second{
    margin-bottom: 142px;

}

.second_block{
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
    background-color: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
    width: 100%;
    position: relative;
    &:before{
        content: '';
        padding-top: 20%;
        display: block;
    }
}

.card{
    margin: 37px 60px 27px 13px;
}

.block_text{
    margin: 125px 92px 125px 0px;
}

.h2{
    color: #212353;
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 40px;
}

.features{
    margin-bottom: 157px;
    .h2{
        text-align: center;
        margin-bottom: 50px;
    }
    .text{
        text-align: center;
    }
}

.features_card{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    gap: 50px;
    margin-top: 70px;
}

.card_gen{
    height: 358px;
    width: 442px;
}

.card_search{
    position: relative;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transform: translate(92px, 2px);
        -ms-transform: translate(92px, 2px);
            transform: translate(92px, 2px);
    height: 383px;
    width: 442px;
    margin-right: 80px;
  }

  .search_img{
    position: absolute;
    top: 100px;
    left: -92px;
    margin-right: 30px;

}
.search_text{
    position: absolute;
    top: 86px;
    left: 170px;
    max-width: 44%;
    .text_item{
        margin-bottom: 35px;
    }
}

  .card_access{
    position: relative;
    background-image: url(../images/background2.png);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transform: translate(103px, 29px);
        -ms-transform: translate(103px, 29px);
            transform: translate(103px, 29px);
    }

    .access_img{
        position: absolute;
        top: 70px;
         left: -101px;
        margin-right: 30px;
    }
    .access_text{
        position: absolute;
        top: 59px;
        left: 170px;
        max-width: 44%;
        .text_item{
            margin-bottom: 61px;
        }
    
    }

    .card_print{
        position: relative;
        background-image: url(../images/background3.png);
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-transform: translate(86px, 5px);
            -ms-transform: translate(86px, 5px);
                transform: translate(86px, 5px);
        margin-right: 86px;
        }

        .print_img{
            position: absolute;
            top: 123px;
            left: -108px;
            margin-right: 30px;
        }
        .print_text{
            position: absolute;
            top: 57px;
            left: 175px;
            max-width: 44%;
            .text_item{
                margin-bottom: 88px;
            }
        
        }

        .card_security{
            position: relative;
            background-image: url(../images/background4.png);
            background-repeat: no-repeat;
            background-size: cover;
            -webkit-transform: translate(101px, 1px);
                -ms-transform: translate(101px, 1px);
                    transform: translate(101px, 1px);
            }

            .security_img{
                position: absolute;
                top: 90px;
                left: -101px;
                margin-right: 30px;
            }
            .security_text{
                position: absolute;
                top: 62px;
                left: 170px;
                max-width: 44%;
                .text_item{
                    margin-bottom: 35px;
                }
            
            }

.h4{
    color:#212353;
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 24px;
    line-height: 31.2px;
    margin-bottom: 20px;
}

.text_item{
    font-family: 'Montserrant';
    @include text(#4B5D68,25.6px,400);
    @include fz(16px);
    margin-bottom: 20px;
}

.hidden{
    position: relative;
    @include text($main_color,25.6px,900);
    @include fz(16px);

    &:after{
        content: url(../images/arrow.svg);
        position: absolute;
        -webkit-transform: translate(25%, 15%);
            -ms-transform: translate(25%, 15%);
                transform: translate(25%, 15%);
    }
}

.testi{
    margin-bottom: 166px;
}

.testi-bgr{
    background-color: #9C69E2;
    width: 100%;
    border-radius: 50px;
    position: relative;
    &:before{
        content: '';
        display: block;
        padding-top: 21%;
    }
    .h2{
        color: #FFFFFF;
        margin-bottom: 86px;
        position: relative;
        top: -129px;
        left: 95px;
    }
}

.testi_card{
    padding: 60px 70px 71px;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 645px;
    width: 60%;
    position: relative;
    bottom: 128px;
    left: 240px;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }


.descr{
    @include text(#4B5D68,32.4px,400);
    @include fz(18px);
    font-family: 'Montserrant';
    margin-top: 24px;
}
.testi_pic{
    margin-right: 30px;
}
.testi_descr{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

footer{
    border-top: 2px solid #9C69E2;
    padding: 97px 0;
}

.footer_top{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 150px;
    .h2{
        margin-bottom: 20px;
    }
}

.footer_buttons{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 22px;
    padding-right: 9px;
    
}
.learn_btn{
    background-color: #F063B8;
    border-radius: 50px;
    @include text(#FFFFFF,28px,900);
    @include fz(18px);
    font-family:'Montserrant';
    text-align: center;
    width: 170px;
    height: 60px;
    border: none;
    cursor: pointer;
    outline: none;
    margin-right: 20px;
    &:hover{
        -webkit-transform:scale(1.1);
            -ms-transform:scale(1.1);
                transform:scale(1.1);
    }
}


 .contact_address{
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
         -ms-flex-direction: column;
             flex-direction: column;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
     margin-bottom: 59px;
     margin-right: 70px;
     .contact_logo{
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-align: center;
             -ms-flex-align: center;
                 align-items: center;
         .logo{
            margin-right: 20px;
         }
     }
 }

 .contact_info{
    @include text($main_color,29px,500);
    @include fz(16px);
    font-family:'Montserrant';
    letter-spacing: 0.01em;
    a{
        @include text($main_color,29px,500);

    }
 }
 .h5{
    @include text($main_color,32px,900);
    @include fz(20px);
     font-family:'Montserrant';
     margin-top: 18px;
 }
 .h6{
    @include text($main_color,32px,900);
    @include fz(20px);
     font-family:'Montserrant';
 }

 span{
    @include text($text_color,28.8px,500);
    @include fz(18px);
    font-family:'Montserrant';

 }

 .footer_middle{
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
     margin-bottom: 62px;
 }

 .contact_box{
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
     padding-top: 12px;
     }

 .contact_logo{
    margin-bottom: 67px;
 }

.contact_info:nth-child(3){
    margin-bottom: 16px;
}

.h3{
    @include text($main_color,25.6px,900);
    @include fz(16px);
    font-family:'Montserrant';
}

.cont{
    color: #9C69E2;
}

.footer_nav:nth-child(1){
    padding-right: 121px;
}

 .footer_nav{
     .h3{
         padding-left: 13px;
         margin-bottom: 36px;
     }
        ul{
            list-style: none;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
                a{
                    display: inline-block;
                    padding: 0 15px;
                    font-family:'Montserrant';
                    @include fz(16px);
                    font-weight: 400;
                    line-height:40px;
                    color: $main_color;
                    &:hover{
                        color: #F063B8;
                    }
                }
        }
    }

    .contact_social{
        padding-right: 35px;
        padding-top: 12px;
        .h3{
            margin-bottom: 36px;
        }
        ul{
            list-style: none;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            li{
                +li{
                    margin-left: 14px;
                }
                }
                a{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                   background-color: #212353;
                    opacity: 0.1;
                    color: #FFFFFF;
                    @include fz(20px);
                    &:hover{
                        background-color: purple;
                }
                &:hover i{
                    color: green;
                    -webkit-transform: scale(1.2);
                        -ms-transform: scale(1.2);
                            transform: scale(1.2);
                }
            }
        }
    }

.info{
    font-family:'Montserrant';
    @include text($main_color,22px,400);
    @include fz(16px);
    letter-spacing: 0.01em;
    margin-bottom: 96px;
}
